body {
  margin: 0;
  display: flex;
  place-items: top;
  width:100vh;
  min-height: 100vh;
  background-color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.header {
  background-color: #8DD5F2;
  padding: 20px;
  width:100vh;
  height:50px;
  margin-bottom:20px;
  text-align: left;
  list-style: none;
  flex-direction: row;
  display: flex;
}
#header-nav {
  padding: 10px;
  color: #0D05F2;
  text-decoration: none;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

#sidebar-nav {
  padding: 10px;
  color: #0D05F2;
  text-decoration: none;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}


.sidebar {
  background-color:#F2BBC9;
  width: 200px;
  padding: 20px;
  height: 500px;
  position: fixed;
  text-align: left;
  list-style: none;
  flex-direction: column;
}

.main {
  margin-left: 265px;
  height:500px;
  padding: 20px;
  background-color: #F2D6B3;
    text-align: left;

}


.footer {
  background-color: #F25749;
  padding: 10px;
  text-align: center;
  height:50px;
  margin-top:20px;
  text-align: left;
}
